* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
}
/* Common Utilities */
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.8rem;
  color: #fff;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

.row {
  max-width: 960px;
  margin: 0 auto;
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.headerWrapper,
.footerWrapper,
.mainWrapper {
  padding: 1rem 0;
}

/* Styling  the HEADER SECTION*/
.headerWrapper,
.footerWrapper {
  background: rgb(100, 89, 89);
}

.headerWrapper h1,
.headerWrapper h5 {
  text-align: center;
  color: rgb(255, 255, 255);
}

/* HERO-IMAGE */

.hero-image {
  background-image: url("./../images/hero-phone.jpg");
  background-size: cover;
  height: 40vh;
  background-position: center;
  margin: 1rem 0;
}

.navigation {
  background: rgb(119, 114, 114);
  margin-top: 1rem;
}
.navigation ul {
  list-style: none;
}

.navigation ul li {
  font-size: 1.6rem;
}

.navigation ul li:active {
  background: orange;
}

.navigation ul li a {
  text-decoration: none;
  display: block;
  float: none;
  padding: 1rem 2rem;
  color: #fff;
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}

.navigation ul li:hover a {
  background: rgb(219, 212, 199);
  color: #fff;
}

.mainWrapper {
  background: rgb(163, 160, 154);
}
.footerWrapper {
  text-align: center;
}
/* COLUMNS */
.column-12,
.column-6,
.column-4,
.column-3,
.column-2 {
  padding: 0.8rem 2%;
}

/* To style Images */
/* We aren't adding any */
.column-2 {
  width: 50%;
  float: left;
}

.column-2 img {
  width: 100%;
}

@media screen and (min-width: 360px) {
  .navigation ul li a {
    float: left;
    width: 50%;
    text-align: center;
  }
}
