* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
}
/* Common Utilities */
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

.row {
  max-width: 960px;
  margin: 0 auto;
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.headerWrapper,
.footerWrapper,
.mainWrapper {
  padding: 1rem 0;
}

/* Styling  the HEADER SECTION*/
.headerWrapper,
.footerWrapper {
  background: rgb(68, 241, 68);
}

.headerWrapper h1,
.headerWrapper h5 {
  text-align: center;
  color: rgb(255, 255, 255);
}

.navigation {
  background: greenyellow;
  margin-top: 1rem;
}
.navigation ul {
  list-style: none;
}

.navigation ul li {
  font-size: 1.6rem;
}

.navigation ul li:active {
  background: orange;
}

.navigation ul li a {
  text-decoration: none;
  display: block;
  float: left;
  padding: 1rem 2rem;
  /* background: red; */
  /* border-right: 1px solid brown; */
}

.mainWrapper {
  background: rgb(241, 182, 72);
}
.footerWrapper {
  text-align: center;
}
/* COLUMNS */
.column-12,
.column-6,
.column-4,
.column-3,
.column-2 {
  padding: 0.8rem 2%;
}

/* To style Images */
/* We aren't adding any */
.column-2 {
  width: 50%;
  float: left;
}

.column-2 img {
  width: 100%;
}

@media screen and (min-width: 360px) {
  .navigation ul li {
    max-width: 100%;
    float: none;
  }
}
