/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background: url("./../images/hero_wilderness.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 3rem;
  width: 40rem;
  font-weight: 300;
  box-shadow: 2px 2px 3px rgb(28, 168, 0);
  margin: 4rem auto;
  text-align: center;
}
.container_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  margin-right: 0.1rem;
  margin-bottom: 0.1rem;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  overflow: hidden;
}

img:hover {
  cursor: pointer;
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
}
/* Desktop First Approach */
@media screen and (max-width: 520px) {
  figure {
    width: 100%;
    text-align: center;
  }

  img {
    max-width: 90%;
  }

  h1 {
    font-size: 2.5rem;
    width: 90%;
  }
}
