/* COLUMN GRID FOR TABLETS */

@media screen and (min-width: 640px) {
  .column-6,
  .column-4,
  .column-3,
  .column-2 {
    float: left;
  }

  .column-6 {
    width: 50%;
  }
  .column-4 {
    width: 33.33%;
  }

  .column-3 {
    width: 25%;
  }

  .column-2 {
    width: 33.33%;
  }
}
